h1 {
    color: azure;
    text-align: center;
    /* width: 50%; */
    font-weight: normal;
    text-decoration: blue underline wavy 4px;
    letter-spacing: 15px;
    font-size: 69px;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    color: #5FCFFC;
    background-color: rgb(89, 151, 0);
}

h3 {
    color: azure;
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: wavy plum underline;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    font-weight: 400;
    line-height: 2;
}

body {
    background-color: #000;
}

a {
    text-decoration: none;
}