html {
    font-size: 15px;
}

body {
    margin: 0;
    font-size: 12px;
}


h1 {
    background-color: darkblue;
    color: aliceblue;
    padding-left: 100px;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    background-color: palegoldenrod;
    border: 1px solid blueviolet;
    display: inline;
}

span {
    background-color: palegreen;
    border: 1px solid green;
    display: block;
    font-size: 2rem;
}

div {
    width: 200px;
    height: 120px;
    display: inline-block;
}


#one {
    background-color: aquamarine;
    border-width: 5px;
    border-color: darkblue;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 44px;
    width: 50%;
    height: 50%;
}

#two {
    background-color: aqua;
    border-color: antiquewhite;
    border-width: 3px;
    border-style: dashed;
    border-left-color: yellowgreen;
    border-left-width: 5px;
    padding-right: 50px;
    margin: 25px;
}

#three {
    background-color: greenyellow;
    border: 4px solid green;
    border-left-style: dotted;
    border-radius: 50%;
}

button {
    font-size: 1em;
    /* padding: 10px 20px 30px 40px; */
    padding: 0 1em;
    /* width: 100%; */
    border-radius: 0.5em;

}

ul {
    font-size: 1.5em;
}