body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
}

#container div {
    width: 150px;
    height: 150px;
    /* max-width: 300px;
    min-width: 100px; */
    text-align: center;
    font-size: 3em;
    flex-basis: 600px;
    /* flex-grow: 1; */
}

div:nth-of-type(3) {
    align-self: center;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}

div:nth-of-type(4) {
    flex-grow: 2;
}

div:nth-of-type(5) {
    flex-grow: 1;
    flex-shrink: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 350px;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    border: 2px solid white;
    flex: 1 2 150px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 400px;
}