body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 3rem;
}

#content h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2rem;
}

#content p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.5;
}

.content-section {
    margin-top: 100px;
}


.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms;
}



@media (max-width: 1200px) {
    #headingGroup h2 {
        font-size: 2.5rem;
    }
}
