section {
    width: 500px;
    height: 300px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: #00cca0b9; */
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3;
}


div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: #81b29a;
}

#static #middle {
    position: static;
}

#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute {
    position: relative;
}

#absolute #middle {
    position: absolute;
    top: 50px;
    left: 50px;
}

#fixed #middle {
    position: fixed;
    top: 0;
    left: 0;

}

.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    /* border-radius: 50%; */
    transition: background-color 1s 0.5s, border-radius 2s;
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
}


#transitions div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    display: block;
    transition: margin-left 3s;
}

#transitions:hover div {
    margin-left: 500px;
}

#transitions div:nth-of-type(1) {
    transition-timing-function: ease-in;
}

#transitions div:nth-of-type(2) {
    transition-timing-function: ease-out;
}

#transitions div:nth-of-type(3) {
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}

#transitions div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}